.main {
  margin-top: 5rem;
  width: 100%;
  background-color: #f4f1f1;
  padding: 7.5rem 0 7.5rem 0;

  & .section-literatura {
    max-width: 130rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    max-height: 85.5rem;
    overflow-y: scroll;
    & .autor {
      text-decoration: none;
      display: flex;
      flex-flow: column nowrap;
      transition: 0.2s ease-in all;
      gap: 0.5rem;
      & .imagem-autor {
        width: 26.3rem;
        height: 34.5rem;
        transition: 0.2s ease-in all;
        & img {
          width: inherit;
          height: inherit;
        }
      }
      & .nome-autor {
        font-size: 2rem;
        font-weight: 900;
        color: black;
      }
      & .periodo-autor {
        font-size: 2rem;
        font-weight: 900;
        color: rgba(0, 0, 0, 0.568);
      }

      &:hover {
        cursor: pointer;
        background-color: var(--verde);
        border-radius: 1rem;

        & .imagem-autor {
          width: 26.3rem;
          height: 34.5rem;
          border-radius: 1rem;
          & img {
            border-radius: inherit;
            width: inherit;
            height: inherit;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      width: 1rem; /* Largura da barra de rolagem vertical */
      height: 1rem; /* Altura da barra de rolagem horizontal */
    }

    /* Fundo da barra de rolagem */
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    /* Thumb (parte que se move na barra de rolagem) */
    &::-webkit-scrollbar-thumb {
      background: var(--verde); /* Cor do thumb */
      border-radius: 5px; /* Cantos arredondados */
    }

    /* Thumb ao passar o mouse */
    &::-webkit-scrollbar-thumb:hover {
      background: #555; /* Cor do thumb quando o mouse está sobre ele */
    }

    /* Thumb ativo (ao clicar) */
    &::-webkit-scrollbar-thumb:active {
      background: #333; /* Cor do thumb ao clicar */
    }
  }
}
