.main {
  margin-top: 12.5rem;
  width: 100%;
  background-color: var(--fundo);
  & h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70rem;
    font-size: 3rem;
    color: var(--verde);
    font-weight: 800;
    position: relative;
    top: 0;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    margin-bottom: 5rem;
  }

  & .secao-legislacao {
    max-width: 130rem;
    margin: 0 auto;

    & .bloco-lei {
      width: 130rem;
      height: 38rem;
      display: flex;
      background-color: white;
      margin-bottom: 2.5rem;

      & .verde {
        background-color: var(--verde);
        height: 100%;
        width: 7.5rem;
      }
      & .bloco-texto {
        margin-top: 4rem;
        margin-left: 5rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 5rem;
        font-size: 1.8rem;

        & .linha1 {
          color: black;
          font-weight: 900;
        }
      }
    }
  }
}

.footer{
  width: 100%;
  height: 15rem;
  background-color: var(--verde);
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;

      & img{
          max-width: 20rem;
          height: 10rem;
          margin-top: 3rem;
      }

      & p{
          font-size: 2rem;
          color: white;
          font-weight: bold;
          margin-top: 6rem;
      }
}